.signIn {
    color: black;
    text-decoration: none;
}

.signIn:hover {
    color: black;
}

.btn-info {
    background-color: aquamarine;
}

.btn-info:hover {
    background-color: white;
}

.nav2 {
    background-color: aquamarine !important;
}

.one{
    height: 50vh;
}